.title {
    margin: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;

    font-size: 2rem;
}

.userid {
    margin: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    box-sizing: border-box;
}

.review {
    margin: 1rem;
    margin-top: 0.5rem;
    margin-bottom : 0rem;
    color: gray;
}

.upload-date {
    margin :0.5rem;
    margin-top : 0rem;
    color: gray;
    float : right;

    font-size : 0.7rem;
}

.review-wrapper {
    margin: 1rem;

    border: 3px solid #c6cdff;
    border-radius: 1rem;
    
}
.no-review{
    margin : 1rem;
    text-align: center;
    color:gray;
}
.page-button{
    background-color: #7B8EF5;
    border-color : #7B8EF5;
}
.page-button:hover{
    background-color: white;
    color :#7B8EF5;
    border-color : #7B8EF5;
}
.page-button:active{
    background-color: white !important;
    color :#7B8EF5 !important;
    border-color : #7B8EF5 !important;
}
.page-button-focus{
    background-color: #6374c9;
    border-color : #7B8EF5 !important;
}
.page-button-focus:hover{
    background-color: #6374c9;
    border-color : #7B8EF5 !important;
}
.page-button-focus:active{
    background-color: #6374c9!important;
    border-color : #7B8EF5 !important;
}
.button-wrapper{
    padding : 2rem;
    text-align: center;
}
.review-modify{
    color : gray;
    font-size : 0.6rem;
    white-space: nowrap;
    padding-left : 0.11rem;
}
.review-modify:hover{
    text-decoration: underline;
    cursor : pointer;
}
.review-modify-wrapper{
    overflow : hidden;
    display: flex;
    justify-content: space-between;
}