.banner-wrapper{
    margin : auto;
}
.im
.divider{
    margin : auto;
    margin-top : 3rem;
    height : 0.2rem;
    width : 100%;
    
    background-color : gray ;
    border : none;
}
.description-wrapper{
    margin : auto;
    height : 20rem;
}