
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: -1;
  background-color: gray;
  filter: blur(30px);
  object-fit : cover;
}
.selected-tts{
  width : 7rem;
  overflow: hidden;
  white-space: nowrap;
}
.now-playing {
  width: 50%;
  background-color: transparent;
  text-align: center;
}
.bookName{
  padding : 1rem;
  font-size : 3rem;
  font-weight : bold;
  overflow:hidden;
  white-space: nowrap;
}
.author{
  font-size : 1rem;
  overflow: hidden;
}
.content{
  padding : 2rem;
  padding-top:3rem;
  font-size : 1rem;
  word-wrap: break-word;
  overflow : auto;
}
.playing-bar {
  position: absolute;
  bottom: 0px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);

}
.playlist{
  position : absolute;
  top : 0px;
  right : 0px;
  width : 50%;
  text-align: center;
  padding : 1rem;
}
.list {
  background-color: transparent;
  overflow : hidden;
  padding : 2rem;
  margin : auto;
  white-space: nowrap;
}
.list-item {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.list-item:hover {
  cursor: pointer;
  background-color: rgba(202, 201, 201, 0.521);
}
.dropdown-content:disabled{
  background-color: white;
  border-color: #7B8EF5;
  border-top-right-radius: 0; 
  border-bottom-right-radius: 0; 
  width : 90%;

  color: black;
  font-weight: bold;
  white-space: nowrap;
}
.dropdown-btn{
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-color: #7B8EF5 !important;
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0; 
  width : 10%;
  color: #7B8EF5 !important;
  overflow: hidden;

}
.dropdown-btn:hover {
  background-color: rgba(202, 201, 201, 0.521) !important;
  border-color: #7B8EF5 !important;
  color:  #7B8EF5 !important;
  
}
.dropdown-btn:active {
  background-color: rgba(202, 201, 201, 0.521) !important;
  border-color: #7B8EF5 !important;
  color:  #7B8EF5 !important;
}
.dropdown-btn:focus {
  background-color: rgba(202, 201, 201, 0.521) !important;
  border-color: #7B8EF5 !important;
  color:  #7B8EF5 !important;
}


.dropdown-menu{
  width : 12rem;
  border-color: #7B8EF5;
  background-color: rgb(235, 235, 235);
}
.dropdown-item{
  background-color: rgb(235, 235, 235) !important;
  color:black !important;
}
.dropdown-item:hover{
  background-color: rgb(187, 187, 187) !important;
  color:black !important;
}
.dropdown-item:focus{
  background-color: rgb(235, 235, 235) !important;
  color:black !important;
}
.dropdown-item:active{
  background-color: rgb(187, 187, 187) !important; 
  color:black !important;
}
.home-btn{
  color : #7B8EF5;
  display: flex;
  float : right;
}