.book-image{
    width : 10rem;
    border-radius: 2rem;    
    margin  :1rem;
}
.voice-image{
    width: 10rem;
    border-radius: 50%;
    margin  :1rem;
}
.no-item{
    color : gray;
    text-align: center;
    padding : 1rem;
}
.sub-title{
    font-weight: bold;
    font-size : 2rem;
    white-space: nowrap;
    padding : 1rem;
}