.tab{
    background-color : red;
}
.nav-wrapper{
    border-bottom : 2px solid #7B8EF5;
}
.nav-link{
    width : 10rem;
    text-align: center;
    background-color: white;
    color : black
}
.nav-link:focus{
    color: white;
    background-color: #7B8EF5;

    border-right : 2px solid #7B8EF5;
    border-left : 2px solid #7B8EF5;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}