.image {
    width: 10rem;
    display: block;
    margin: auto;
}

.image-wrapper {
    width: 10rem;
    display: block;
    margin: auto;
}

.name {
    text-align: center;
    font-weight: bold;
}
.author{
    text-align: center;
    color : gray;
    font-size : 0.3rem;

}

.title {
    margin: auto;
    font-weight: bold;
}

.sub-title {
    margin: auto;
    color: gray;
    font-size: 0.5rem;
}

.more-wrapper {
    width: 5rem;
}

.more {
    color: gray;
    font-size: 0.7rem;
}

.more:link {
    text-decoration: none;
}
.page-button{
    background-color: #7B8EF5;
    border-color : #7B8EF5;
}
.page-button:hover{
    background-color: white;
    color :#7B8EF5;
    border-color : #7B8EF5;
}
