.image {
    width: 10rem;
    display : block;
    margin : auto;
}
.name{
    text-align: center;
    font-weight: bold;
}

.title {
    margin: auto;
    font-weight: bold;
}

.sub-title {
    margin: auto;
    color: gray;
    font-size: 0.5rem;
}
.more-wrapper{
    width : 5rem;
}
.more {
    color: gray;
    font-size: 0.7rem;
}

.more:link {
    text-decoration: none;
}

