.logo{
    height : 10rem;
    width : 40rem;
    margin : auto;
    margin-top : 6rem;

    border-color : black;

    text-align: center;
    font-size : 3rem;
}
.card{
    height : 100%;
    width  : 40rem;
    margin : auto;

    border-color :  #7B8EF5;
}
.login_btn {
    width: 30rem;
    margin : auto;
    display : block;

    background-color : #7B8EF5;
    border-color : #7B8EF5;
}
.login_btn:hover{
    background-color : white;
    color : #7B8EF5;
    border-color : #7B8EF5;
}
.option-wrapper{
    margin : auto;
    margin-top : 1rem;
    width : 30rem;
    text-align: center;

    border : none;

    color :gray;
}
.option{
    color : gray;
}
.option:link{
    text-decoration:   none;
}
.option:hover{
    color : #7B8EF5;
}