.wrapper{
    margin : auto;
    width : 50rem;
}
.verify-button{
    background-color : #7B8EF5;
    border-color: white;
}
.verify-button:hover{
    background-color : white;
    color :#7B8EF5;
    border-color: #7B8EF5;
}
.verify-button:active{
    background-color : white !important;
    color :#7B8EF5 !important;
    border-color: #7B8EF5 !important;
}
.submit{
    width : 50rem;
    background-color : #7B8EF5;
    border-color: white;
}
.submit:hover{
    background-color : white;
    color :#7B8EF5;
    border-color: #7B8EF5;
}
.submit:active{
    background-color : white !important;
    color :#7B8EF5 !important;
    border-color: #7B8EF5 !important;
}
.inputBox:focus{
    box-shadow: none;
    border-color : black;
}
.gender{
    background-color: #7B8EF5 !important ;
    color : white !important;
    border-color : #7B8EF5 !important;
}

.gender-focus{
    background-color: white !important;
    color : #7B8EF5 !important;
    border-color : #7B8EF5 !important;
}
.input-wrapper{
    text-align:left;
}

